body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: gray;

}

header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #f1c40f;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  background: white;
  margin: 10px;
  border-radius: 5px;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
}
.apropos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.photo-droite {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}
#contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#contact label {
  margin-top: 10px;
}

#contact input, #contact textarea {
  padding: 8px;
  margin-top: 5px;
  font-size: 1em;
}

#contact button {
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}

#resultat {
  margin-top: 15px;
  font-weight: bold;
}